{
  "extends": "eslint-config-airbnb",
  "globals": {
    "APP": true,
    "window": true
  },
  "plugins": [
    "react",
    "import"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "rules": {
    "no-console": 0,
    "no-param-reassign": 0,
    "react/no-multi-comp": 0,
    "react/prop-types": 0,
    "react/forbid-prop-types": 0,
    "import/no-unresolved": [2, { "commonjs": true }],
    "import/no-duplicates": 2,
    "complexity": [2, 15],
    "max-depth": [2, 3],
    "max-statements": [2, 50],
    "max-nested-callbacks": [2, 3],
    "camelcase": 2,
    "linebreak-style": 0,
    "jsx-a11y/href-no-hash": 0,
    "no-shadow": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "arrow-body-style": 0,
    "import/prefer-default-export": 0
  }
}
